body{
    font-family: 'Bree Serif', serif;
    min-height: 150vh;
}
nav::before{
    
    content: "";
    height: 80px;
    width: 100%;
    background-color: #000;
    /* background-color:rgb(216, 231, 229); */
    display: block;
    position: absolute;
    opacity: 1;
    /* margin-left: -1%; */
    /* margin-right: 0%; */
    /* margin-top: -1%; */
    z-index: 2;
    position: fixed;
    
}
#navbar{
    display: flex;
    /* flex-direction: column; */
    color: white;
    padding-right: 3%;
    position: fixed;
    z-index: 3;
    /* justify-content: center; */
    /* align-items: center */
    /* align-content: center; */
}
.navcontent{
    margin-right: 3%;
    margin-left: 1%;
    /* margin-top: 1.5%; */
    font-size: 140%;
    position: fixed;
    /* padding: 550px; */
    z-index: 3;
}
button{
    border-radius: .5em;
    height: 2rem;
    outline: none;
    cursor: pointer;
    background-color: rgb(32, 177, 32);
    color: white;
    padding: 0rem 1rem;
    font-weight: bold;
}
input{
    height: 2rem;
    border-radius: .5em;
    text-align: center;
    right: 200px;
}
#addnote{
    border: 1px solid black;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    border-radius: 1rem;
    /* margin-bottom: 2%; */
}
#primaryheading{
    margin-left: 30%;
    margin-top: 100px;

}
#secondaryheading{
    margin-left: 5%;
    margin-top: 3%;
}
#inputnote{
    margin-left: 5%;
    margin-top: 1%;
    /* width: 30%;
    height: 130%; */
    border-radius: 1rem;
}
#addnotebtn{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
}
#mynotes{
    margin-left: 15%;
    margin-top: 3rem;
    
}
#inputnode{
    outline: none;
}
#addednotes{
    display: flex;
    /* margin: 3rem; */
    /* padding: 4rem; */
    flex-wrap: wrap;
}
p{
    margin-right: 1rem;
    padding: .5rem;
    
    /* display: ruby-text-container; */
}
#delete{
    margin-top: 1rem;
    margin-left: 1rem;
}
#search{
    /* border: 1px solid black; */
    height:300px;
    width: 20%;
    position: absolute;
    /* margin-left: 75%; */
    margin-top: 5%;
}
.card{
    margin: 2rem;
    width: 25%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
}
#navcontent3{
    position: absolute;
    right: 2%;
}
#searchbtn{
    position: absolute;
    right: -30px;
}
#searchbar{
    position: absolute;
    right: 100px;
}
nav{
    /* margin-top: -70px; */
    position: absolute;
    top: 0px;
    left: 0px;
    /* left: 0px; */
}
#navcontent4{
    /* margin-left: -2%; */
    /* position: absolute; */
    /* margin-left: 92%; */
    right: 20px;
    top: 25px;
}
#navcontent3{
    /* margin-left: -2%; */
    /* position: absolute; */
    /* margin-left: 80%; */
    /* width: 16%; */
position: fixed;
    right: 0px;
    top: 25px;
}
#navcontent2{
    position: fixed;
    left: 180px;
    top: 25px;
}
#navcontent1{
    position: fixed;
    left: 30px;
    top: 25px;    
}
p{
    word-wrap: break-word;
}
